# Import

In [1]:
#Importing
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [5]:
# Folder path 
path = r'/Users/crystalosuna/Documents/Gun Violence Analysis'

In [6]:
df = pd.read_csv (os.path.join(path, 'Data', 'gun-violence-data-clean1.csv'), index_col = False)

In [7]:
df.head()

,incident_id,date,state,city_or_county,number_killed,number_injured,congressional_district,gun_type,incident_characteristics,number_guns_involved,participant_age,participant_age_group,participant_gender,participant_status,participant_type,state_house_district,state_senate_district,latitude,longitude
0,461105,1/1/13,Pennsylvania,Mckeesport,0,4,14.0,0::Unkown,Shot - Wounded/Injured||Mass Shooting (4+ vict...,Unkown,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,Unkown,Unkown,40.3467,-79.8559
1,460726,1/1/13,California,Hawthorne,1,3,43.0,0::Unkown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",Unkown,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,62,35,33.9090,-118.3330
2,478855,1/1/13,Ohio,Lorain,1,3,9.0,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",2,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,56,13,41.4455,-82.1377
3,478925,1/5/13,Colorado,Aurora,4,0,6.0,0::Unkown,"Shot - Dead (murder, accidental, suicide)||Off...",Unkown,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,40,28,39.6518,-104.8020
4,478959,1/7/13,North Carolina,Greensboro,2,2,6.0,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",2,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,62,27,36.1140,-79.9569

In [8]:
# names of columns
df.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'number_killed',
       'number_injured', 'congressional_district', 'gun_type',
       'incident_characteristics', 'number_guns_involved', 'participant_age',
       'participant_age_group', 'participant_gender', 'participant_status',
       'participant_type', 'state_house_district', 'state_senate_district',
       'latitude', 'longitude'],
      dtype='object')

In [9]:
# number of rows and columns
df.shape

(239677, 19)

In [10]:
df.dtypes

incident_id                   int64
date                         object
state                        object
city_or_county               object
number_killed                 int64
number_injured                int64
congressional_district      float64
gun_type                     object
incident_characteristics     object
number_guns_involved         object
participant_age              object
participant_age_group        object
participant_gender           object
participant_status           object
participant_type             object
state_house_district         object
state_senate_district        object
latitude                    float64
longitude                   float64
dtype: object

In [12]:
#finding nulls
df.isnull().sum()

incident_id                     0
date                            0
state                           0
city_or_county                  0
number_killed                   0
number_injured                  0
congressional_district      11944
gun_type                        0
incident_characteristics      326
number_guns_involved            0
participant_age                 0
participant_age_group           0
participant_gender              0
participant_status              0
participant_type                0
state_house_district            0
state_senate_district           0
latitude                     7923
longitude                    7923
dtype: int64

In [16]:
#finding duplicates
dups = df.duplicated()

In [17]:
df[dups]

Empty DataFrame
Columns: [incident_id, date, state, city_or_county, number_killed, number_injured, congressional_district, gun_type, incident_characteristics, number_guns_involved, participant_age, participant_age_group, participant_gender, participant_status, participant_type, state_house_district, state_senate_district, latitude, longitude]
Index: []